{% extends "base.html" %} {% block content %}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(static/images/img_6.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="row row-mt-15em">

                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <h1>Gallery Of Alexandria</h1>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>


<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
                {% if places %} {% for place in places %}
                {% if place.destination ==2 %} 
                <div class="col-lg-6 col-md-4 col-sm-4">
    
                    <a href="/static/images/{{place.photo}}" class="fh5co-card-item image-popup">
                        <figure>
                            <div class="overlay"><i class="ti-plus"></i></div>
                            <img src="/static/images/{{place.photo}}" alt="Image" class="img-responsive">
                        </figure>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}

            </div>
        </div>
    </div>



    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(static/images/img_6.jpg)">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="row row-mt-15em">
    
                        <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                            <h1>Gallery Of Luxor</h1>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
    </header>
    
    
    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                    {% if places %} {% for place in places %}
                    {% if place.destination ==1 %} 
                <div class="col-lg-6 col-md-4 col-sm-4">
    
      
                        <a href="/static/images/{{place.photo}}" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="/static/images/{{place.photo}}" alt="Image" class="img-responsive">
                            </figure>
                        </a>
                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}