{% extends "base.html" %} {% block content %}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(static/images/img_6.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="row row-mt-15em">

                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <h1>Gallery Of Alexandria</h1>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>


<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
                {% if places %} {% for place in places %}
                {% if place.destination ==2 %} 
                <div class="col-lg-6 col-md-4 col-sm-6">
    
                    <a href="/static/images/{{place.photo}}" class="fh5co-card-item image-popup">
                        <figure>
                            <div class="overlay"><i class="ti-plus"></i></div>
                            <img src="/static/images/{{place.photo}}" alt="Image" class="img-responsive">
                        </figure>
                    </a>
    <!-- <input data-role="rating" data-value="{{place.star/place.count}}" readonly    
    > -->
    <div class="my-rating-4" data-rating="2.5"></div>
                        
                    {% if comments %}
                        

                    {% for comment in comments %}
                    
            
                    {% if place.id == comment.placeId %}


                    <div style="background:#eee;font-family:sans-serif;">
                            {{comment.comment}}  - by {{comment.name}}
                    
                            </div>
                            {%endif%} 
                    {%endfor%}
                    {%endif%}
<form action="{{url_for('commentFun')}}" method="post">
    
<div>
<input type="hidden" name ="placeId" value="{{place.id}}">
<textarea name="comments"  style="font-family:sans-serif;font-size:1.2em;">
Hey... say something!
</textarea>
</div>
<input type="submit" value="Submit">
</form>
<form action="{{url_for('rateFun')}}" method="post">
        <input type="hidden" name ="placeId" value="{{place.id}}">
        <div class="container">
           
                <div class="row lead">
                    <div id="hearts" value ="{{place.id}}" class="starrr"></div>
              <input type="text" id="count{{place.id}}">
                </div>

            </div>


<input type="submit" value="Submit">
  </form>  
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
            </div>
        </div>
    </div>



    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(static/images/img_6.jpg)">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="row row-mt-15em">
    
                        <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                            <h1>Gallery Of Luxor</h1>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
    </header>
    
    
    <div class="gtco-section">
        <div class="gtco-container">
            <div class="row">
                    {% if places %} {% for place in places %}
                    {% if place.destination ==1 %} 
                <div class="col-lg-6 col-md-4 col-sm-6">
    
      
                        <a href="/static/images/{{place.photo}}" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="/static/images/{{place.photo}}" alt="Image" class="img-responsive">
                            </figure>
                        </a>
                        {% if comments %}
                        

                        {% for comment in comments %}
                        
                
                        {% if place.id == comment.placeId %}
                       
                        <div style="background:#eee;font-family:sans-serif;">
                                {{comment.comment}}  - by {{comment.name}}
                        
                                </div>
                                {%endif%} 
                        {%endfor%}
                        {%endif%}
<form action="{{url_for('commentFun')}}" method="post">
    <div>
    <input type="hidden" name ="placeId" value="{{place.id}}">
    <textarea name="comments"  style="font-family:sans-serif;font-size:1.2em;">
    Hey... say something!
    </textarea>
    </div>
    <input type="submit" value="Submit">
    </form>


                </div>
                {% endif %}
                {% endfor %}
            {% endif %}
                </div>
            </div>
        </div>

        <!-- <style>
                body {
                    background-color: #003566;
                }
                </style> -->
      

    {% endblock %}